<div class="flex flex-col items-center space-y-6 w-full">
  <div class="flex items-center justify-center h-16 w-1/2 border-2 border-[#F0DBDB] rounded" [ngClass]="{
    'bg-red': invalidPasswordStatus === 'short' || passwordStrength === 'easy',
    'bg-yellow': passwordStrength === 'medium',
    'bg-green': passwordStrength === 'strong'
  }">
    <p>Too simple password, try using numbers and symbols</p>
  </div>

  <div class="flex items-center justify-center h-16 w-1/2 border-2 border-[#F0DBDB] rounded" [ngClass]="{
    'bg-red': invalidPasswordStatus === 'short',
    'bg-yellow': passwordStrength === 'medium',
    'bg-green': passwordStrength === 'strong'

  }">
    <p>Great, if you want to feel completely safe, use numbers, symbols and letters.</p>
  </div>

  <div class="flex items-center justify-center h-16 w-1/2 border-2 border-[#F0DBDB] rounded" [ngClass]="{
    'bg-red': invalidPasswordStatus === 'short',
    'bg-green': passwordStrength === 'strong'
  }">
    <p>You are safe</p>
  </div>
</div>