@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-[#FFFBEB];
  @apply text-secondary;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
}
